*{
    margin: 0;
    padding: 0;
    font-family: cursive;
   }
   .banner{
    width: 100%;
    height: 100vh;
   }
.navbar{
    background-color: black;
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    border-radius: 50%;
    position: relative;
    left: 100px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;

}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}
.img-container{
    width: 100%;
    display: flex;
    animation: slide 12s infinite alternate;
}
.img-container img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    text-align: center;
    color: white;
    cursor: pointer;
    position: relative;
}
span{
    background-color: #009688;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
@keyframes logorotation{
    0%{
        transform: rotate(0);

    }
    25%{
      transform: rotate(90deg);

    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.navbar img{
       animation: logorotation 5s infinite alternate;
}
@keyframes slide{
    0%{
        transform: translatex(0%);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%)
    }
    60%{
        transform: translateX(-150%);
    }
    75%{
        transform: translateX(-160%);
    }
    100%{
        transform: translateX(0%);
    }

}